.hidden {
  display: none;
}

#login-form {
  margin: 10px;
}

#login-form input {
  margin: 10px 5px 10px;
}

#login-result {
  display: flex;
}

#logout-btn {
  margin: 25px 20px;
  vertical-align: center;
}
