body {
  /* background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  height: 96vh; */
  margin: 0px;
  color: azure;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
}

ul {
  float: right;
}

button:hover {
  transform: scale(0.94);
}

input::placeholder {
  color: azure;
}

.bg_img {
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
  z-index: -1;
}

.img_cover {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.233);
  z-index: 1;
}

.hidden {
  display: none;
}

.left_menu {
  position: absolute;
  top: 10%;
  left: 5%;
  width: 500px;
  text-align: left;
  z-index: 2;
}

.middle_menu {
  position: absolute;
  width: 1000px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
}

.right_menu {
  position: absolute;
  top: 30%;
  left: 80%;
  transform: translate(-50%, -50%);
  width: 500px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.text_input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid aliceblue;
  outline: none;
  background: transparent;
}

#clock {
  text-shadow: 1px 1px 4px gray;
  margin: 70px 50px;
}

#weather {
  line-height: 30px;
  margin: 100px 50px 300px;
  font-size: 14pt;
  font-weight: bold;
  text-shadow: 1px 1px 4px gray;
}

#quote {
  margin: 50px;
  width: 400px;
  float: left;
  font-size: 13pt;
  text-shadow: 1px 1px 0px black;
}

#window-img {
  width: 700px;
  height: 600px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  overflow: auto;
  position: absolute;
  z-index: -1;
  filter: brightness(60%);
}

#login-form {
  width: 300px;
  margin: 130px 337px 20px;
  line-height: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

#login-form input:first-child {
  margin: 220px 48px 0px;
  height: 50px;
  width: 200px;
  font-size: 15pt;
  vertical-align: center;
  text-align: center;
}

#login-form input:last-child {
  width: 100px;
  height: 40px;
  margin: 70px 100px 0px;
  border-radius: 15px;
  vertical-align: center;
  background-color: darkseagreen;
  outline: 0;
  border: 0;
  text-align: center;
  font-size: 13pt;
  font-weight: bold;
}

#login-form input:hover {
  transform: scale(0.96);
}

#login-result {
  margin: 130px 50px 60px;
  line-height: 50px;
  text-align: center;
  font-weight: bold;
  text-shadow: 3px 3px 6px rgb(20, 7, 36);
}

#logout-btn {
  margin: 25px 20px;
  height: 30px;
  border-radius: 10px;
  vertical-align: center;
  background-color: darkseagreen;
  outline: 0;
  border: 0;
}

#tag-form {
  width: 800px;
  height: 100px;
  margin: 120px 150px 100px;
  font-size: 20pt;
  text-align: center;
  font-style: italic;
}

#tag-form input {
  width: 200px;
  height: 50px;
  margin: 5px;
  color: azure;
  border: none;
  outline: 0;
  background: transparent;
  font-size: 20pt;
  font-style: italic;
}

#todo-form input {
  width: 300px;
  height: 30px;
  font-size: 11pt;
  padding-left: 10px;
}

#todo-list {
  /* margin-right: 100px; */
  text-shadow: 1px 1px 1px black;
}

#todo-list button {
  margin: 10px 15px;
  border-radius: 15px;
  background-color: goldenrod;
  outline: 0;
  border: 0;
}
